<!DOCTYPE html>
<html lang="en" ng-app="app" dir="{{isRtl?'rtl':'ltr'}}">
<head>
    <meta charset="UTF-8">
    <title>ERP</title>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <!-- inject:vendor:css -->
    <!-- endinject -->
    <!-- inject:app:css -->
    <!-- endinject -->
</head>
<body ng-cloak layout-fill style="overflow: hidden">
<!--<root></root>-->
<div ui-view></div>

<!-- inject:vendor:js -->
<!-- endinject -->
<!-- inject:app:js -->
<!-- endinject -->
</body>
</html>
